@basic-size: 50px;
.gameCard {
  margin: 10% 15%;
  height: 600px;
  width: 70%;
  background-color: grey;
  display: flex;
  text-align: center;

  fieldset {
    border: none;
  }

  input {
    font-size: 30px;
    margin-top: 80px;
    width:@basic-size*4;
    height: @basic-size;
    text-align: center;
  }

  button{
    margin: @basic-size*2 0;
    height: @basic-size;
    width: @basic-size*4;
    color: white;
    font-size: 20px;
  }
}