@basic-size: 50px;
.control-panel{
  flex: 1;
  background-color: lightyellow;
  fieldset{
    border: none;
  }
  span{
    display: inline-block;
    width: @basic-size;
    height: @basic-size;
    margin: 15px;
    text-align: center;
    background-color: white;
    line-height: @basic-size;
    font-size: 30px;
    vertical-align: middle;
    border: solid 1px lightgrey;
  }

  .new-card{
    background-color:dodgerblue;
  }
  .show-result{
    background-color: hotpink;
  }
}