.guess-result{
  height: 50%;
  text-align: center;
  background-color: darkseagreen;
  span{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
    background-color: white;
    line-height: 50px;
    font-size: 30px;
    vertical-align: middle;
  }
  p{
    font-size: 20px;
  }
  .title{
    margin-top: 0;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 20px;
    text-align: left;

  }
}